{{=<| |>=}}

\documentclass[12pt]{article}
\usepackage[utf8]{inputenc}
\usepackage[french]{babel}
\usepackage[a4paper,textwidth=18cm,textheight=27cm]{geometry}
\usepackage[nonumber]{cuisine}
\usepackage{cooking-units}
\usepackage{fontawesome}
\usepackage{tikzsymbols}

\pagenumbering{gobble}

\newcommand{\preparing}[2]{\hspace{0.25cm} {\faGears} {\bfseries{\cunum{#1}{#2}}}}
\newcommand{\cooking}[2]{\hspace{0.25cm} {\fryingpan} {\bfseries{\cunum{#1}{#2}}}}
\newcommand{\baking}[2]{\hspace{0.25cm} {\oven} {\bfseries{\cunum{#1}{#2}}}}
\newcommand{\waiting}[2]{\hspace{0.25cm} {attente} {\bfseries{\cunum{#1}{#2}}}}
\newcommand{\servings}[1]{ {\faUser} #1}
\newcommand{\tags}[1]{\freeform #1}
\newcommand{\tag}[1]{ {\small \faHashtag}{\bfseries #1}}
\newcommand{\source}[1]{\freeform #1}

\RecipeWidths{\textwidth}{3cm}{1cm}{4cm}{.75cm}{.75cm}
\renewcommand*{\recipefont}{\Large\sffamily}
\renewcommand*{\recipefreeformfont}{\itshape}
\renewcommand*{\recipeingredientfont}{\large\sffamily}
\renewcommand*{\recipestepnumberfont}{\LARGE\bfseries\sffamily}
\renewcommand*{\recipetitlefont}{\Huge\selectfont\bfseries\sffamily}

\declarecookingunit{cup}

\begin{document}
<|#book.recipes|>

    \begin{recipe}
        {<|& name|>}
        {\servings{ <|servings|>}}
        {<|#durations|>\<|name|>{<|value.magnitude|>}{<|value.unit|>} <|/durations|>}

    <|#has_source|>
        \source{<|& source|>}
    <|/has_source|>
    <|#has_tags|>
        \tags{<|#tags|>\tag{<|.|>} <|/tags|>}
    <|/has_tags|>
    <|#has_description|>
    \freeform{<|& description |>}
    <|/has_description|>


    <|#steps|>
        <|#ingredients|>
        \Ingredient{<|#normalize|>
                <|#qty.has_unit|>
                    \cunum{<|qty.magnitude|>}{<|#unit|><|qty.unit|><|/unit|>}
                <|/qty.has_unit|>
                <|^qty.has_unit|>
                    <|#qty.has_magnitude|>
                        \cuam{<|qty.magnitude|>}
                    <|/qty.has_magnitude|>
                <|/qty.has_unit|>
                <|&label|>
                <|/normalize|>}
        <|/ingredients|>
        <|^ingredients|>
        \newstep
        <|/ingredients|>
        <|#normalize|><|#description|>
        <|#has_literal|> <|&literal|> <|/has_literal|>
        <|#has_quantity|>
            <|#quantity.has_unit|>
                \cunum{<|quantity.magnitude|>}{<|#unit|><|quantity.unit|><|/unit|>}
            <|/quantity.has_unit|>
            <|^quantity.has_unit|>
                \cuam{<|quantity.magnitude|>}
            <|/quantity.has_unit|>
        <|/has_quantity|>
        <|#has_interval|>
            \cunum
                {<|interval.lower.magnitude|>--<|interval.upper.magnitude|>}
                {<|#unit|><|interval.lower.unit|><|/unit|>}
        <|/has_interval|>

        <|/description|>
        <|/normalize|>


    <|/steps|>

    \end{recipe}
    \newpage

<|/book.recipes|>
\end{document}
