{{=<| |>=}}

\documentclass[12pt]{article}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[french]{babel}
\usepackage[a4paper,
    left=1cm,
	right=1cm,
	top=1cm,
	bottom=1cm,
	headheight=11pt,
]{geometry}
\usepackage{colortbl}
\usepackage{cooking-units}
\usepackage{fontawesome}
\usepackage{svg}
\usepackage[absolute]{textpos}

\textblockorigin{0cm}{0cm}
\pagenumbering{gobble}

\newcookingunit[c.à.s]{cas}
\newcookingunit[c.à.c]{cac}

\setlength{\parindent}{0pt}


\begin{document}
<|#book.recipes|>
    \section*{<|& name|>}

<|/book.recipes|>
\end{document}

