{{#book.recipes}}
recipe: {{{name}}}{{#has_identifier}} @{{identifier}}{{/has_identifier}}
    {{#has_source}}
    source: {{{source}}}
    {{/has_source}}
    lang: {{{lang}}}
    {{#has_servings}}
    servings: {{servings}}
    {{/has_servings}}
    {{#has_durations}}
    durations:
        {{#durations}}
        {{name}}: {{value.full}}
        {{/durations}}
    {{/has_durations}}
    {{#has_tags}}
    tags:
        {{#tags}}
        {{{.}}}
        {{/tags}}
    {{/has_tags}}
    {{#has_description}}
    description:
        {{{description}}}
    {{/has_description}}

    {{#steps}}
    --
    {{#ingredients}}
    <{{qty.full}}> {{{label}}}{{#has_reference}} @{{reference}}{{/has_reference}}
    {{/ingredients}}
    {{#normalize}}{{#description}}
    {{#has_literal}} {{{literal}}} {{/has_literal}}
    {{#has_quantity}} [{{{quantity.full}}}] {{/has_quantity}}
    {{#has_interval}}
    [{{{interval.lower.magnitude}}}--{{{interval.upper.magnitude}}}
    {{{interval.lower.unit}}}]
    {{/has_interval}}
    {{/description}}
    {{/normalize}}

    {{/steps}}


{{/book.recipes}}