{{#pantry.recipes}}
aliment: {{{label}}} @{{identifier}}
    {{#has_tags}}
    tags:
        {{#tags}}
        {{{.}}}
        {{/tags}}
    {{/has_tags}}

    composition:
        {{#composition.components}}
        {{name}}: {{#has_value}}{{value.full}}{{/has_value}}{{^has_value}}<unknown>{{/has_value}}
        {{/composition.components}}


{{/pantry.recipes}}
